version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: escaping-network-urbit_manager_1
      APP_PORT: 8091
      PROXY_AUTH_ADD: "false"
  
  manager:
    image: escaping/urbit-umbrel:latest@sha256:f55211b2d0bcd21259823e7ae8c3b7b001464f33a4993f855e43a89ba68c7d00
    ports:
      - "34344:34343"
    volumes:
      - ${APP_DATA_DIR}/piers:/data/piers
      - ${APP_DATA_DIR}/keys:/data/keys
    environment:
      APP_PASSWORD: ${APP_PASSWORD}
