version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: escaping-network-actual-budget_web_1
      APP_PORT: 5006
      PROXY_AUTH_ADD: "false"
  
  web:
    image: actualbudget/actual-server:26.2.0@sha256:c34346f87725b9cce5dca5af1a2a9b989127d592cc4c6af5cf4652d4a86def90
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
