version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: escaping-network-actual-budget_web_1
      APP_PORT: 5006
      PROXY_AUTH_ADD: "false"
  
  web:
    image: actualbudget/actual-server:25.11.0@sha256:8f72d73e68958566850325c1f9fe780a4477340979969bd6979649dc519723ab
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
